@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-space-grotesk: var(--font-space-grotesk);
  --font-orbitron: var(--font-orbitron);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-brand-blue: var(--brand-blue);
  --color-brand-blue-foreground: var(--brand-blue-foreground);
  --color-primary-blue: var(--primary-blue);
  --color-secondary-blue: var(--secondary-blue);
  --color-footer-background: var(--footer-background);
}

:root {
  --background: oklch(0.9607 0.0133 111.27);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(60% 0.118 184.704);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.611 0.1643 268.3);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.89 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6924 0.1974 26.09);
  --border: oklch(0.552 0.1279 274.16);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --brand-blue: oklch(0.5273 0.2333 283.88);
  --brand-blue-foreground: oklch(1 0 0);
  --primary-blue: oklch(0.514 0.195 274.51);
  --secondary-blue: oklch(0.552 0.1279 274.16);
  --footer-background: oklch(1 0 0);
}

.dark {
  --background: oklch(0.2448 0.0056 286);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.8598 0.0972 184.9);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.71 0.2 341.27);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.6924 0.1974 26.09);
  --border: oklch(0.9551 0 0 / 80%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --brand-blue: oklch(1 0 0);
  --brand-blue-foreground: oklch(0.5273 0.2333 283.88);
  --primary-blue: oklch(0.514 0.195 274.51);
  --secondary-blue: oklch(0.552 0.1279 274.16);
  --footer-background: oklch(0.5273 0.2333 283.88);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  button {
    @apply focus:outline-none;
  }

  body {
    font-family: var(--font-space-grotesk);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    background-color: var(--background);
    color: var(--foreground);
  }

  html.dark [data-hide-on-theme="dark"],
  html.light [data-hide-on-theme="light"] {
    display: none;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility theme-switch-btn {
  @apply bg-brand-blue dark:bg-[#f0d497] hover:opacity-85 text-white dark:text-black p-2 rounded-md;
}

@utility hover-effect {
  @apply transition-all duration-300 ease-in-out;
}

@utility title {
  @apply text-4xl md:text-6xl font-bold uppercase leading-tight text-primary-blue dark:text-white;
}

@utility footer-subtitle {
  @apply font-bold mb-4 text-lg uppercase text-secondary-blue dark:text-white;
}

@utility primary-btn {
  @apply px-4 py-2 rounded-sm text-sm font-semibold flex-center gap-2 hover-effect;
}

@utility social-link {
  @apply w-9 h-9 rounded-full bg-brand-blue flex items-center justify-center text-brand-blue-foreground hover:opacity-80;
}
