@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-space-grotesk: var(--font-space-grotesk);
  --font-orbitron: var(--font-orbitron);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-brand: var(--brand);
  --color-brand-primary: var(--brand-primary);
  --color-brand-accent: var(--brand-accent);
  --color-brand-foreground: var(--brand-foreground);

  --color-primary-blue: var(--primary-blue);
  --color-secondary-blue: var(--secondary-blue);
  --color-footer-background: var(--footer-background);
}

:root {
  --background: oklch(0.9607 0.0133 111.27);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(60% 0.118 184.704);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.611 0.1643 268.3);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.89 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6924 0.1974 26.09);
  --border: oklch(0.552 0.1279 274.16);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --brand: oklch(0.5273 0.2333 283.88);
  --brand-accent: oklch(1 0 0);
  --brand-primary: oklch(0.5273 0.2333 283.88);
  --brand-foreground: oklch(0.5689 0.0015 106.45);

  --primary-blue: oklch(0.514 0.195 274.51);
  --secondary-blue: oklch(0.552 0.1279 274.16);
  --footer-background: oklch(1 0 0);
}

.dark {
  --background: oklch(0.2448 0.0056 286);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.8598 0.0972 184.9);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.71 0.2 341.27);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.6924 0.1974 26.09);
  --border: oklch(0.9551 0 0 / 80%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --brand: oklch(1 0 0);
  --brand-accent: oklch(0.5273 0.2333 283.88);
  --brand-primary: oklch(0.8324 0.1451 212.29);
  --brand-foreground: oklch(0.75 0.0015 106.45);

  --primary-blue: oklch(0.514 0.195 274.51);
  --secondary-blue: oklch(0.552 0.1279 274.16);
  --footer-background: oklch(0.5273 0.2333 283.88);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  button {
    @apply focus:outline-none;
  }

  body {
    font-family: var(--font-space-grotesk);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    background-color: var(--background);
    color: var(--foreground);
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset;
    -webkit-text-fill-color: var(--foreground);
    transition: background-color 9999s ease-in-out 0s;
  }

  html.dark [data-hide-on-theme="dark"],
  html.light [data-hide-on-theme="light"] {
    display: none;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility theme-switch {
  @apply bg-brand-primary hover:opacity-85 text-white dark:text-black p-2 rounded-md;
}

@utility hover-effect {
  @apply transition-all duration-300 ease-in-out;
}

@utility primary-btn {
  @apply px-4 py-2 rounded-sm text-sm font-semibold flex-center gap-2 border text-brand hover:bg-brand hover:text-brand-accent hover-effect;
}

@utility social-link {
  @apply w-9 h-9 rounded-full bg-brand flex items-center justify-center text-brand-accent hover:opacity-80;
}

@utility contact-group {
  @apply w-full flex flex-col text-sm lg:text-base;
}

@utility contact-input {
  @apply bg-transparent border-b border-border/60 py-3 text-foreground placeholder:text-foreground/80;

  &:focus {
    @apply outline-none border-border;
  }

  &.error {
    @apply border-destructive/80 text-destructive placeholder:text-destructive/80;
  }

  &.error:focus {
    @apply border-destructive placeholder:text-destructive;
  }
}

@utility contact-error {
  @apply text-destructive ml-0.5 mt-1.5 text-sm;
}


@layer components {
  header {
    @apply absolute top-0 left-0 w-full z-50 px-6 md:px-12 py-3 flex justify-between items-center;
  }

  #hero {
    @apply relative min-h-screen w-full flex flex-col justify-center items-start px-6 md:px-16 lg:px-24 overflow-hidden select-none;

    .hero-inner {
      @apply relative z-10 w-full max-w-7xl;
    }

    .hero-stroke-text {
      -webkit-text-stroke: 1px var(--brand-primary);
      opacity: 0.5;
    }
  }

  .main-content {
    @apply relative z-10 bg-background mb-[100dvh] py-12;
  }

  footer {
    @apply fixed inset-0 z-0 h-dvh bg-footer-background px-6 py-12 md:px-14 lg:px-24 col-center gap-12;

    .footer-desc {
      @apply flex flex-col justify-between items-center xl:flex-row text-center xl:text-start gap-6 md:gap-10 w-full;

      h2 {
        @apply text-4xl md:text-5xl lg:text-6xl font-bold uppercase leading-tight text-primary-blue dark:text-white;
      }
    }

    .footer-grid {
      @apply grid grid-cols-1 md:grid-cols-3 gap-12 mb-12 max-h-[40dvh] overflow-y-auto md:max-h-none md:overflow-visible;

      .footer-subtitle {
        @apply font-bold mb-4 text-lg uppercase text-secondary-blue dark:text-white;
      }
    }

    .footer-copyright {
      @apply flex flex-col md:flex-row justify-between items-center pt-6 border-t gap-4;
    }
  }
}
