@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme inline {
  --font-space-grotesk: var(--font-space-grotesk);
  --font-orbitron: var(--font-orbitron);

  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);

  --color-brand: var(--brand);
  --color-brand-primary: var(--brand-primary);
  --color-brand-accent: var(--brand-accent);
  --color-brand-foreground: var(--brand-foreground);

  --color-primary-blue: var(--primary-blue);
  --color-secondary-blue: var(--secondary-blue);
  --color-primary-pink: var(--primary-pink);
  --color-footer-background: var(--footer-background);

  --color-gradient-pink: var(--gradient-pink);
  --color-gradient-violet: var(--gradient-violet);
}

:root {
  --background: oklch(0.9607 0.0133 111.27);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(60% 0.118 184.704);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.611 0.1643 268.3);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklch(0.89 0 0);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.6924 0.1974 26.09);
  --border: oklch(0.552 0.1279 274.16);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);

  --brand: oklch(0.5273 0.2333 283.88);
  --brand-accent: oklch(1 0 0);
  --brand-primary: oklch(0.5273 0.2333 283.88);
  --brand-foreground: oklch(0.5689 0.0015 106.45);

  --primary-blue: oklch(0.514 0.195 274.51);
  --secondary-blue: oklch(0.552 0.1279 274.16);
  --primary-pink: oklch(0.6558 0.2404 354.32);
  --footer-background: oklch(1 0 0);

  --gradient-pink: oklch(0.85 0.12 305);
  --gradient-violet: oklch(0.55 0.25 285);
}

.dark {
  --background: oklch(21% 0.034 264.665);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.8598 0.0972 184.9);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.71 0.2 341.27);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);

  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.6924 0.1974 26.09);
  --border: oklch(0.9551 0 0 / 80%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);

  --brand: oklch(1 0 0);
  --brand-accent: oklch(0.5273 0.2333 283.88);
  --brand-primary: oklch(0.8324 0.1451 212.29);
  --brand-foreground: oklch(0.75 0.0015 106.45);

  --primary-blue: oklch(0.514 0.195 274.51);
  --secondary-blue: oklch(0.552 0.1279 274.16);
  --primary-pink: oklch(0.71 0.2 341.27);
  --footer-background: oklch(0.5273 0.2333 283.88);

  --gradient-pink: oklch(0.45 0.15 305);
  --gradient-violet: oklch(0.30 0.20 285);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  button {
    @apply focus:outline-none;
  }

  body {
    font-family: var(--font-space-grotesk);
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    overflow-wrap: break-word;
    background-color: var(--background);
    color: var(--foreground);
    position: relative;
  }

  input:-webkit-autofill,
  textarea:-webkit-autofill,
  select:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px var(--background) inset;
    -webkit-text-fill-color: var(--foreground);
    transition: background-color 9999s ease-in-out 0s;
  }

  header {
    @apply sticky top-0 w-full z-100 bg-background/90 backdrop-blur-lg;
  }

  footer {
    @apply fixed inset-0 z-0 min-h-screen bg-footer-background section-container;
  }
}

@utility flex-center {
  @apply flex items-center justify-center;
}

@utility col-center {
  @apply flex flex-col items-center justify-center;
}

@utility flex-between {
  @apply flex items-center justify-between;
}

@utility theme-switch {
  @apply bg-brand-primary hover:opacity-85 text-white dark:text-black p-2 rounded-md;
}

@utility hover-effect {
  @apply transition-all duration-300 ease-in-out;
}

@utility primary-btn {
  @apply px-4 py-2 rounded-sm text-sm font-semibold flex-center gap-2 border text-brand hover:bg-brand hover:text-brand-accent hover-effect;
}

@utility social-link {
  @apply w-9 h-9 rounded-full bg-brand flex items-center justify-center text-brand-accent hover:opacity-80;
}

@utility contact-group {
  @apply w-full flex flex-col text-sm lg:text-base relative;
}

@utility contact-input {
  @apply bg-transparent border-b border-border/60 py-3 text-foreground placeholder:text-foreground/80;

  &:focus {
    @apply outline-none border-border;
  }

  &.error {
    @apply border-destructive/80 text-destructive placeholder:text-destructive/80;
  }

  &.error:focus {
    @apply border-destructive placeholder:text-destructive;
  }
}

@utility section-container {
  @apply px-6 py-10 md:py-20;
}

@utility error-tooltip {
  @apply absolute right-0 top-full mt-1.5 px-3 py-1 rounded-md bg-destructive text-white text-xs shadow-lg z-50 whitespace-nowrap overflow-x-auto;
}

@utility fancy-title {
  @apply shrink-0 font-extrabold uppercase text-transparent leading-none opacity-60;

  -webkit-text-stroke: 1px var(--brand-primary);
}

@utility main-content {
  @apply relative z-10 bg-background mb-[100vh];
}

@utility footer-subtitle {
  @apply font-bold mb-4 text-base md:text-lg uppercase text-secondary-blue dark:text-white;
}
